// css/main.scss
:root {
    --font: "Roboto", sans-serif;

    /*---Colors---*/
    --header-blue: #2A324B;
    --lighter-blue-ish: #58699D;
    --background-color: #E1E5EE;
    --white: #fff;
}

body {
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

body h1 {
    color: var(--lighter-blue-ish);
}

.navbar {
    width: 100%;
    height: auto;
    background-color: var(--background-color);
}

.navbar ul {
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    list-style: none;
    justify-content: space-around;
}

.navbar ul li {
    width: 255px;
    height: auto;
    background-color: var(--header-blue);
    
}

.navbar ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 25px;
}

.App {
    background-color: var(--white);
    width: 1400px;
    height: 400px;
}

